* {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: center;
    text-justify: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(4, 113, 190, 1) 0%, rgba(0, 212, 255, 1) 73%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.game-over-img {
    width: 250px;
}

.game {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    margin: auto;
}

.game__title {
    font-family: 'Playfair Display SC', serif;
    font-size: 2em;
    grid-column: 1 /span 2;
    grid-row: 1;
    margin: auto;
}

.game__word {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

.game__hint {
    font-size: 1.5em;
    grid-column: 1;
    grid-row: 3;
    margin: auto;
}

.game__hangman {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}

.game__lives {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    font-size: 1.5em;
}

.game__info {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin: auto;
}

.game__word,
.game__alphabet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: auto;
    flex-wrap: wrap;
}

.alphabet__item {
    border: solid 2px white;
    list-style: none;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.game__word--letter {
    border: solid 1px white;
    list-style: none;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 1.7em;
    border-radius: 10px;
}

.game__buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.game__button {
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid white;
    cursor: pointer;
}

.game__button:hover {
    opacity: 0.5;
}

.game__message {
    font-size: 3em;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    border-top: 1px solid blue;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

.footer__content {
    margin-bottom: 0;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.footer__text {
    text-align: center;
    font-size: 1em;
}

.footer__text--red {
    color: #e71224;
}

.logo {
    width: 50px;
}

@media only screen and (max-width: 600px) {
    .game-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .game {
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1fr 0.8fr 3fr 0.8fr;
    }
    .game__title {
        font-size: 1.2em;
        grid-row: 1;
    }
    .game__word {
        grid-row: 2;
        font-size: 1em;
    }
    .game__hint {
        grid-row: 3;
        font-size: 1em;
    }
    .game__hangman {
        grid-column: 1;
        grid-row: 4;
    }
    .game__lives {
        grid-column: 1;
        grid-row: 5;
        margin: auto;
        font-size: 1em;
    }
    .game__info {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1.2fr;
        width: 90%
    }
    .game__button {
        padding: 2px;
    }
    .game__buttons {
        grid-column: 1;
        grid-row: 2;
        margin: auto;
    }
    .alphabet__item {
        border: solid 1px white;
        margin: 3px;
        font-size: 1em;
        width: 30px;
        height: 30px;
    }
    .game__word--letter {
        margin: 1px;
        font-size: 1em;
        width: 30px;
        height: 30px;
    }
    .game__message {
        font-size: 1.7em;
        width: 80%;
    }
    .footer__content {
        width: 90%;
    }
    .footer__text {
        font-size: 0.8em;
    }
    .footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 100%;
    }
    .logo {
        width: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .game__hangman {
        height: 150px;
    }
    .footer {
        position: relative;
        left: 0px;
        bottom: 0px;
        height: 50px;
    }
}